.main h2{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    color: rgb(90, 90, 90);
}

.main p{
    text-align: center;
    font-size: 0.9rem;
    color: gray;
}

.main_card{
    display: flex;
    flex-wrap: wrap;
}

.main_card .card{
    width: 20rem;
    margin: 2rem auto;
    border-radius: 4px;
    text-align: center;
}

.main_card .card img{
    width: 70px;
    height: 70px;
    padding: 2rem;
    background: rgba(93, 220, 252, 0.979);
    border-radius: 100%;
    margin: 2.5rem;
}

.main_card .card h4{
    text-align: center;
}

.main_card .card p{
    text-align: center;
}