.main{
    display: flex;
}

.contact_section{
    width: 50vw;
    height: 82.2vh;
    text-align: center;
    color: #fff;
    background: black;
    padding-top: 3rem;
}

.contact_section h2{
    font-size: 2rem;
    margin: 2rem;
}

.form_section{
    width: 50vw;
    height: 82.2vh;
    text-align: center;
    padding-top: 3rem;
}

.form_section h2{
    font-size: 2rem;
    margin: 1rem;
}

.form_section p{
    font-size: 14px;
    color: gray;
}

.form_section .form_input{
    margin: 0 auto;
}

.form_section .form_input input{
    display: block;
    width: 95%;
    margin: 1.5rem 0 0 1rem;
    height: 1.8rem;
}

.form_input textarea{
    margin-top: 4rem;
    width: 95%;
}

.submitBtn {
    margin: 1rem;
}

.submitBtn button{
    padding: 0.4rem 1.2rem;
    background: none;
    border: 1px solid black;
    transition: all 0.6s ease-in-out;
}

.submitBtn button:hover{
    background: black;
    color: #fff;
}